/* src/assets/scss/App.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  place-content: center;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
}
